{% block text_widget %}
    <div class="input_placeholder"   style="width: 244px; background-color: white;">
        <div class="input_frame" style="width: 244px; background-color: white;">
            <input type="text" class="input_field" id="{{ id }}" name="{{ full_name }}" placeholder="{{name}}"/>
        </div>
    </div>
{% endblock %}
{% block money_widget %}
    <div class="input_placeholder"   style="width: 244px; background-color: white;">
        <div class="input_frame" style="width: 244px; background-color: white;">
            <input type="text" class="input_field" id="{{ id }}" name="{{ full_name }}" placeholder="{{name}}"/>
        </div>
    </div>
{% endblock %}
{% block date_widget%}
<div class="input_placeholder"   style="width: 244px; background-color: white;">
    <div class="input_frame" style="width: 244px; background-color: white;">
        <input data-provide="datepicker" id="{{ id }}" name="{{ full_name }}" class="input_field" style="width: 250px" placeholder="date">
        <div style="float: right"><img src="/files/icon _calendar.png" alt="language icon"></div>
    </div>

</div>
{% endblock %}
{% block submit_widget %}
<div class="input_placeholder" style="width: 244px; background-color: white;">
    <button class="button_green button_generic" id="{{ id }}" name="{{ full_name }}"
            onclick="window.form.submit()">
        Save
    </button>
</div>
{% endblock %}

