{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_errors(form) }}

    {{ form_start(form) }}
    {{ form_row(form.name, {
        label: 'Commune Name'
    }) }}
        <button type="submit" class="btn">{{ 'Find commune'|trans }}</button>
    {{ form_end(form) }}
    <div>
        <a href="/{{ app.request.locale }}/commune/new_commune">{{ 'Create new commune'|trans }}</a>
    </div>
    <div>
        <a href="/{{ app.request.locale }}/login">{{ 'login'|trans }}</a>
    </div>
{% endblock %}
