{% extends 'base.html.twig' %}
{% block title %}Admin Panel{% endblock %}
{% block body %}
    <script>
        function ConfirmDelete()
        {
            return confirm("Are you sure you want to delete?");
        }
    </script>
    <style>
        table {
            border: 1px solid;
            padding: 10px;
        }

        th, td {
            border: 1px solid black;
            width: 100px;
            overflow: hidden;
            padding: 10px;
        }

        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            padding: 2px 6px;
        }

        .field {

        }
    </style>
    <div class="row2">

        <div class="col-9">
            {% block main %}
                <table>
                    <tr>
                        <td> {{ 'name'|trans }} </td>
                        <td> {{ 'email'|trans }} </td>
                        <td> {{ 'role'|trans }} </td>
                        <td></td>
                        <td></td>
                    </tr>
                    {% for roommate in roommates %}
                        <tr class="product">
                            <td class="field"> {{ roommate.name }} </td>
                            <td class="field"> {{ roommate.email }} </td>
                            <td class="field" id="{{ roommate.id }}">
                                {% for role in roommate.roles %}
                                    {%if(role == 'ROLE_ADMIN')%}
                                        Admin
                                    {% elseif(role == "ROLE_USER") %}
                                        User
                                    {%endif%}
                                    <br/>
                                {% endfor %}
                            </td>
                            <td class="field"><button type="button" onclick="toggleAdmin({{roommate.id }})">toggle admin</button></td>
                            <td class="field"><a href="{{ path('user_delete', {email: roommate.email}) }}" onclick="ConfirmDelete()">delete</a></td>
                        </tr>
                    {% endfor %}
                </table>
            {% endblock %}
        </div>
    </div>

<script>
    function toggleAdmin(id) {
        const xhttp = new XMLHttpRequest();
        var response;
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                response = this.responseText;
                document.getElementById(id).innerHTML =
                    response.substring(1, response.length-1);
            }
        };
        xhttp.open("GET", "http://shopping2.local/en/commune/toggle_admin/"+id);
        xhttp.send();
    }
</script>
{% endblock %}