{% extends 'base.html.twig' %}
{% block body %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    <link rel="stylesheet" href="/styles/language.css">
    <script type="application/javascript">
        function replaceT(obj) {
            var newO = document.createElement('input');
            newO.setAttribute('type', 'password');
            newO.setAttribute('class', 'textbox');
            newO.setAttribute('name', obj.getAttribute('name'));
            newO.addEventListener("onblur", function () {
                newO.parentNode.replaceChild(obj, newO)
            }, false);
            obj.parentNode.replaceChild(newO, obj);
            newO.focus();
        }
    </script>


    <div class="container" style="width: 414px;">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="d-flex align-items-center logo">
                            <img src="/files/logo.png" alt="logo" class="mx-auto" width="107px">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="dropdown" style="text-align: center">
                        <button class="dropbtn">Choose language</button>
                        <div class="language-icon">
                            <img src="/files/icon _language.png" alt="language icon">
                        </div>
                        <div class="dropdown-content">
                            {% for locale in locales() %}
                                <a href="{{ path(app.request.get('_route', 'products_paginated'), app.request.get('_route_params', [])|merge({_locale: locale.code})) }}">
                                    {{ locale.name|capitalize }} <small>{{ locale.code[0:2] }}</small>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row" style="height: 32px"></div>

                <div class="row" style="text-align: center">
                    {% if error %}
                        <div class="error_message">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <form action="{{ path('app_login') }}" method="post" style="padding: 0px">
                        <div class="input_placeholder">
                            <div class="input_frame">
                                <input
                                        class="input_field"
                                        type="text"
                                        id="username"
                                        name="_username"
                                        value="{{ last_username }}"
                                        onfocus="this.value=''"
                                >
                            </div>
                        </div>
                        <div class="input_placeholder">
                            <div class="input_frame">
                                <input
                                        class="input_field"
                                        type="text"
                                        id="password"
                                        name="_password"
                                        value="Password..."
                                        onfocus="this.type='password'"
                                >
                            </div>
                        </div>
                        <div class="input_placeholder">
                            <button class="button_green button_generic" type="submit">{{ 'login'|trans }}</button>
                        </div>
                        <div class="input_placeholder">
                            <button class="button_white button_generic"
                                    onclick="window.location.href='/{{ app.request.locale }}/commune/new';">
                                {{ 'Create new commune'|trans }}
                            </button>
                        </div>
                        <div class="input_placeholder">
                            <button class="button_white button_generic"
                                    onclick="window.location.href='/{{ app.request.locale }}/register';">
                                {{ 'Join commune'|trans }}
                            </button>
                        </div>
                    </form>
                </div>

            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
{% endblock %}