{% extends 'base.html.twig' %}
{% block title %}{{ 'add_product'|trans }}{% endblock %}
{% block body %}
    <div class="row2">
        {% include 'menu.html.twig' %}

        <div class="col-9">
            {% block main %}
                <div style="margin: auto;width: 50% ">
                    {{ form_start(form) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.description) }}
                    {{ form_row(form.price) }}
                    {{ form_row(form.purchased_at) }}
                    {{ form_row(form.save) }}
                    {{ form_end(form) }}
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}