{% extends 'base.html.twig' %}
{% block title %}{{ 'add_product'|trans }}{% endblock %}
{% block body %}
    {% include 'menu.html.twig' %}
    <div class="row2">


        <div class="col-9">
            {% block main %}
                <div style="margin: auto;width: 50% ">
                    {{ form_start(form) }}
                    <div style="padding: 20px">{{ form_row(form.name) }}</div>
                    <div style="padding: 20px">{{ form_row(form.description) }}</div>
                    <div style="padding: 20px">{{ form_row(form.price) }}</div>
                    <div style="padding: 20px">{{ form_row(form.purchased_at) }}</div>
                    <div style="padding: 20px">{{ form_row(form.save) }}</div>
                    {{ form_end(form) }}
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}