{% extends 'base.html.twig' %}

{% block title %}{{ 'produkt_liste'|trans }}{% endblock %}

{% block body %}
    <script>
        function ConfirmDelete()
        {
            return confirm("Are you sure you want to delete?");
        }
        function search() {
            let year = document.getElementById("year");
            let month = document.getElementById("month");

            console.log(
                `This form has a year of ${year.value} and month of ${month.value}`
            );
            window.location.href="/{{ app.request.locale }}/products/overview/"+year.value+"-"+month.value;
        }

    </script>
<style>
    table {
        border: 1px solid;
        padding: 10px;
    }

    th, td {
        border: 1px solid black;
        width: 100px;
        overflow: hidden;
        padding: 10px;
    }

    .example-wrapper {
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
        font: 18px/1.5 sans-serif;
    }

    .example-wrapper code {
        padding: 2px 6px;
    }

    .field {

    }
</style>
<div class="row2">
    {% include 'menu.html.twig' %}

    <div class="col-9">
        <form action="" id="search">
            <select id="year" name="year">
                {% for year  in years%}
                    <option value="{{ year.year }}">{{ year.year }}</option>
                {% endfor %}
            </select>
            <select id="month" name="month">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
            <a href="#" onclick="search()">Search</a>
        </form>
    <div class="example-wrapper">
        <table>
            <tr>
                <td> {{ 'product.name'|trans }} </td>
                <td> {{ 'product.description'|trans }} </td>
                <td> {{ 'product.price'|trans }} </td>
                <td> {{ 'product.user'|trans }} </td>
                <td>{{ 'date'|trans }} </td>
                <td></td>
                <td></td>
            </tr>
            {% for product in products %}
                <tr class="product">
                    <td class="field"> {{ product.name }} </td>
                    <td class="field"> {{ product.description }} </td>
                    <td class="field"> {{ product.price }} </td>
                    <td class="field"> {{ product.user.name }} </td>
                    <td class="field"> {{ product.getPurchasedAt()|date("Y-m-d")}} </td>
                    <td class="field"><a href="{{ path('product_edit', {id: product.id}) }}">edit</a></td>
                    <td class="field"><a href="{{ path('product_delete', {id: product.id}) }}" onclick="ConfirmDelete()">delete</a></td>
                </tr>
            {% endfor %}

    </table>
    </div>
    </div>
</div>
{% endblock %}
