{% extends 'base.html.twig' %}

{% block title %}{{ 'produkt_liste'|trans }}{% endblock %}

{% block body %}
    <script>
        function ConfirmDelete()
        {
            return confirm("Are you sure you want to delete?");
        }
        function searchByYearAndMonth() {
            let year = document.getElementById("year");
            let month = document.getElementById("month");

            console.log(
                `This form has a year of ${year.value} and month of ${month.value}`
            );
            window.location.href="/{{ app.request.locale }}/products/overview/"+year.value+"-"+month.value;
        }

    </script>
<style>
    table {
        border: 1px solid;
        padding: 10px;
    }

    th, td {
        border: 1px solid black;
        width: 100px;
        overflow: hidden;
        padding: 10px;
    }

    .example-wrapper {
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
        font: 18px/1.5 sans-serif;
    }

    .example-wrapper code {
        padding: 2px 6px;
    }

    .field {

    }
</style>
<div class="row2">
    {% include 'menu.html.twig' %}

    <div class="col-9">
        <div class="example-wrapper">
            <form action="" id="search_form">
                <select id="year" name="year">
                    {% for i  in years%}
                        <option value="{{ i.year }}"
                                {% if (i.year == year) %}
                                    selected
                                {% endif %}
                        >{{ i.year }}</option>
                    {% endfor %}
                </select>
                <select id="month" name="month">
                    {% for i in 1..12 %}
                        <option value="{{ i }}"
                            {% if (i == month) %}
                                selected
                            {% endif %}
                        >{{ i }}</option>
                    {% endfor %}
                </select>
                <a href="#" onclick="searchByYearAndMonth()">{{ 'search'|trans }}</a>
            </form>
            <div style="padding: 20px"></div>
            {% if (products) %}
                <table>
                    <tr>
                        <td>{{ 'product.name'|trans }}</td>
                        <td>{{ 'product.paid'|trans }}</td>
                    </tr>
                    {% for user in users %}
                        <tr class="product">
                            {% if user[0]["name"] %}
                                <td>
                                    {{ user[0]["name"] }}
                                </td>
                                <td>
                                    {{ user[0]["paid"] }}
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
                <div style="padding: 20px"></div>
                <table>
                    <tr>
                        <td> {{ 'product.name'|trans }} </td>
                        <td> {{ 'product.description'|trans }} </td>
                        <td> {{ 'product.price'|trans }} </td>
                        <td> {{ 'product.user'|trans }} </td>
                        <td> {{ 'date'|trans }} </td>
                        <td></td>
                        <td></td>
                    </tr>
                    {% for product in products %}
                        <tr class="product">
                            <td class="field"> {{ product.name }} </td>
                            <td class="field"> {{ product.description }} </td>
                            <td class="field"> {{ product.price }} </td>
                            <td class="field"> {{ product.user.name }} </td>
                            <td class="field"> {{ product.getPurchasedAt()|date("Y-m-d")}} </td>
                            <td class="field"><a href="{{ path('product_edit', {id: product.id}) }}">edit</a></td>
                            <td class="field"><a href="{{ path('product_delete', {id: product.id}) }}" onclick="ConfirmDelete()">delete</a></td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <div style="padding: 100px">{{ 'no_products'|trans }}</div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
