{% extends 'base.html.twig' %}

{% block title %}{{ 'produkt_liste'|trans }}{% endblock %}

{% block body %}
    <script>
        function ConfirmDelete() {
            return confirm("Are you sure you want to delete?");
        }

        function searchByYearAndMonth() {
            let year = document.getElementById("year");
            let month = document.getElementById("month");

            console.log(
                `This form has a year of ${year.value} and month of ${month.value}`
            );
            window.location.href = "/{{ app.request.locale }}/products/overview/" + year.value + "-" + month.value;
        }

    </script>
    <style>
        table {
            border: 1px solid;
            padding: 10px;
        }

        th, td {
            border: 1px solid black;
            width: 100px;
            overflow: hidden;
            padding: 10px;
        }

        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            padding: 2px 6px;
        }

        .liste {
            border-radius: 16px;
            background: var(--beige, #ECEADE);
            padding: 15px;
            width: 374px;
            height: 78px;
            margin-bottom: 15px;
        }

        * {
            box-sizing: border-box;
        }

        .box {
            float: left;
            width: 33.33%;
            padding: 5px;
        }

        .clearfix {
            padding-top: 10px;
            color: var(--dark-green, #163F2F);
            text-align: center;
            font-family: Noto Sans;
            font-size: 15px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }
    </style>
    {% include 'menu.html.twig' %}
    <div class="container-fluid" style="width: 414px;">
        <div class="row">
            <div class="page_name" style="padding-left: 0">{{ 'overview'|trans }}</div>
            <div style="text-align: center; padding: 20px 0 20px 0 ;">
                <form action="" id="search_form">
                    <div class="input_placeholder"
                         style="width: 110px; background-color: white; padding: 5px; margin-right: 20px">
                        <div class="input_frame" style="width: 110px; background-color: white;">
                            <select id="year" name="year" class="input_field" style=" background-color: white;">
                                {% for i in years %}
                                    <option value="{{ i.year }}"
                                            {% if (i.year == year) %}
                                                selected
                                            {% endif %}
                                    >{{ i.year }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="input_placeholder"
                         style="width: 90px; background-color: white; padding: 5px; margin-right: 20px">
                        <div class="input_frame" style="width: 90px; background-color: white;">
                            <select id="month" name="month" class="input_field" style=" background-color: white;">
                                {% for i in 1..12 %}
                                    <option value="{{ i }}"
                                            {% if (i == month) %}
                                                selected
                                            {% endif %}
                                    >{{ i }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div style="
                             padding: 19px;
                             background-color: #8b949e;
                             width: 150px;
                             border-radius: 20px;
                             display: inline;
                             margin-right: 50px
                         ">
                        <a href="#" onclick="searchByYearAndMonth()">{{ 'search'|trans }}</a>
                    </div>
                </form>
            </div>

            {% if (products) %}
            {% for user in users %}
                {% if user[0]["name"] %}
                    <div class="liste">
                        <div class="clearfix">
                            <div class="box">{{ user[0]["name"] }}</div>
                            <div class="box"></div>
                            <div class="box">{{ user[0]["paid"]/100 }} EUR</div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <div style="padding: 20px"></div>

            {% for product in products %}
                <div class="liste" style="height: 100px">
                    <div class="row">
                        <div style="">{{ product.name }}</div>
                    </div>
                    <div style="" class="row">
                        <div style="" class="col-4">

                            <div style="">{{ product.description }} </div>
                        </div>
                        <div style="" class="col-4">
                            <div style="">{{ product.price/100 }} EUR</div>
                            <div style="">{{ product.user.name }} </div>
                        </div>
                        <div style="" class="col-4">
                            <div>{{ product.getPurchasedAt()|date("Y-m-d") }}</div>
                            {% if product.user.id == user_id %}
                                <div class="row">
                                    <div class="col-6">
                                        <a href="{{ path('product_edit', {id: product.id}) }}">
                                            <img src="/files/pen.svg" width="16" height="16">
                                        </a>
                                    </div>
                                    <div class="col-6">
                                        <a href="{{ path('product_delete', {id: product.id}) }}"
                                           onclick="ConfirmDelete()">
                                            <img src="/files/trash3.svg" width="16" height="16">
                                        </a>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% else %}
            <div style="padding: 100px">{{ 'no_products'|trans }}</div>
        {% endif %}

    </div>
{% endblock %}
