{% extends 'base.html.twig' %}
{% block title %}{{ 'product.success'|trans }}{% endblock %}
{% block body %}
    {% include 'menu.html.twig' %}
    {% block main %}
        <div class="container-fluid" style="width: 414px;">
            <div class="row">
                <div style="height: 100px"></div>
                {% if message == 'added' %}
                    {{ 'product.success_message'|trans }}
                {% elseif message == 'deleted' %}
                    {{ 'product.deleted_message'|trans }}
                {% elseif message == 'edited' %}
                    {{ 'product.edited_message'|trans }}
                {% elseif message == 'not found' %}
                    {{ 'product.not_found_message'|trans }}
                {% else %}

                {% endif %}
            </div>
        </div>
    {% endblock %}
{% endblock %}