{% extends 'base.html.twig' %}
{% block body %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    <script type="application/javascript">
        function replaceT(obj) {
            var newO = document.createElement('input');
            newO.setAttribute('type', 'password');
            newO.setAttribute('class', 'textbox');
            newO.setAttribute('name', obj.getAttribute('name'));
            newO.addEventListener("onblur", function () {
                newO.parentNode.replaceChild(obj, newO)
            }, false);
            obj.parentNode.replaceChild(newO, obj);
            newO.focus();
        }
    </script>


    <div class="container-fluid" style="width: 414px;">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <div class="row">
                    <div class="d-flex align-items-center logo">
                        <img src="/files/logo.png" alt="logo" class="mx-auto" width="107px" style="padding-top: 20px">
                    </div>
                </div>
                <div class="row">
                    <div class="input_placeholder">
                        <button class="button_white button_generic"
                                onclick="window.location.href='/{{ app.request.locale }}/product/add';">
                            {{ 'product.add'|trans }}
                        </button>
                    </div>
                    <div class="input_placeholder">
                        <button class="button_white button_generic"
                                onclick="window.location.href='/{{ app.request.locale }}/products/overview/{{ date("Y")|date("Y") }}-{{ date("m")|date("m") }}';">
                            {{ 'product.one_commune'|trans }}
                        </button>
                    </div>
                    <div class="input_placeholder">
                        <button class="button_white button_generic"
                                onclick="window.location.href='/logout';">
                            {{ 'logout'|trans }}
                        </button>
                    </div>
                    {% if (is_granted('ROLE_ADMIN')) %}
                        <div class="input_placeholder">
                            <button class="button_white button_generic"
                                    onclick="window.location.href='/{{ app.request.locale }}/commune/admin_panel';">
                                Admin Panel
                            </button>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
{% endblock %}
