{% extends 'base.html.twig' %}

{% block title %}{{ 'register'|trans }}{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>{{ 'register'|trans }}</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
    <div style="padding: 20px">{{ form_row(registrationForm.email) }}</div>
    <div style="padding: 20px">{{ form_row(registrationForm.plainPassword)}}</div>
    <div style="padding: 20px">{{ form_row(registrationForm.user_name) }}</div>
    <div style="padding: 20px">{{ form_row(registrationForm.communes) }}</div>
    <div style="padding: 20px">{{ form_row(registrationForm.agreeTerms) }}</div>
    <button type="submit" class="btn">{{ 'register'|trans }}</button>
    {{ form_end(registrationForm) }}
    <div style="padding: 40px">
        <a  href="/{{ app.request.locale }}/login">{{ 'login'|trans }}</a>
    </div>
{% endblock %}
